@import "navbar.css";
@import "hero.css";
@import "about.css";
@import "footer.css";

*{
    /*selector universal: a todas las etiquetas dale este estilo*/
    margin: 0; 
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
h4 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

main {
    min-height: 75vh; 
}

.contenedor-grid{
    position:relative;
    width: 90%;
    margin: 2em auto;
    gap: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "imagenup parrafoup"
    "parrafomedium imagenmedium"
    "imagendown parrafodown";
    text-align: center;
    justify-content: center;

}

div{
    display: block;
   
}
.imagen {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.parrafo {
    display: flex;
    align-items: center;
   
    flex-wrap: wrap;
    width: 90%;
}
.imagen-up{
    grid-area: imagenup;
   
}
.parrafo-up{
    grid-area: parrafoup;
   
}

.parrafo.medium h4{
    grid-area: parrafomedium;
    text-align: left;

}

.imagen-medium{
    grid-area: imagenmedium;
 
}
.imagen-down{
    grid-area: imagendown;
  
}

.parrafo.down{
    grid-area: parrafodown;

}

