<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE= edge">
  <meta name="viewport" content="width= device-width, initial-scale= 1.0">
  <link rel="shortcut icon" href="./images/huella.png" type="image/x-icon">
  <title>Huellitas | Adopciones</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header id="header">
    <navbar></navbar>
  </header>
  
  <main>
    <section class="adoption">
      <h1>Adopción</h1>
      <h3>Toda la información que necesitas para adoptar a tu nueva mascota.</h3>
      <div id="adoptions" class="container">
        <div v-if="error">
          <p>Lo sentimos , ........</p>
        </div>
        <div v-else>
          <section v-if="cargando">
            <div class="spinner-border"></div>
            <p>Cargando .....</p>
          </section>
          <section v-else>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Refugio</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Foto</th>
                    <th scope="col"><a class="btn btn-success" href="adopcion-nueva.html">Agregar Adopción</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="" v-for="animal in animales">
                    <td scope="row">{{animal.id}}</td>
                    <td>{{animal.nombre}}</td>
                    <td>{{animal.raza}}</td>
                    <td>{{animal.sexo}}</td>
                    <td>{{animal.edad}}</td>
                    <td>{{animal.refugio}}</td>
                    <td>{{animal.contacto}}</td>
                    <td>
                      <img width="60"  :src="animal.imagen" :alt="animal.nombre">
                    </td>
                    <!-- v-if="isAdmin" -->
                    <td> 
                      <a class="btn btn-primary" :href="'adopcion-modif.html?id='+ animal.id" >Editar</a>
                      <button type="button" class="btn btn-danger" v-on:click="eliminar(animal.id)" >Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
      <div class="Contenedor">
        <div id="imagadop">
          <img src="images/dogg.avif" alt="Perrito">
        </div>

        <div class="card">
          <div class="front">
            <h4>¿Cuales son los requisitos para adoptar?</h4>
          </div>

          <div class="back">
            <p><ul>
              <li>1. Ser mayor de 18 años de edad</li>
              <li>2. Realizacion de entrevistas previas</li>
              <li>3. Tener todas las medidas de seguridad necesarias en su domicilio</li>
            </ul></p>
          </div>
        </div>

        <div class="card">
          <div class="front">
            <h4>¿Que medidas de seguridad necesito tener?</h5>
          </div>
          <div class="back">
            <p> <ul>
              <li>1. Contar con todos los suministros adecuados (comida, juguetes, redes de seguridad)</li>
              <li>2. Realizar visitas constantes al veterinario, contando con seguimiento de nuestro equipo </li>
              <li>3. Seguridad en balcones y ventanas, de contar con los mismos. </li>
            </ul></p>
          </div>
        </div>
        <div class="card">
          <div class="front">
            <h4>¿Cual es el procedimiento para acceder a las entrevistas?</h4>
          </div>
          <div class="back">
            <p><ul>
              <li>1. Ingresa con tu usuario a nuestra pagina</li>
              <li>2. Dejanos tus datos correspondientes en la seccion "Contacto"</li>
              <li>3. Espera la respuesta de nuestro equipo para coordinar el dia de la entrevista</li>
            </ul></p>
          </div>
        </div>
        <div class="card">
          <div class="front">
            <h4>¿Puedo adoptar si no soy de Buenos aires?</h4>
          </div>
          <div class="back">
            <p>
              <ul><li class="lastcard">Si, debes ingresar a nuestra seccion de Refugios, alli te dejamos toda la informacion de diferentes refugios en toda Argentina para que puedas darle hogar y amor desde el lugar donde te encuentres</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer" id="footer">
    <foot></foot>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/js/header.js"></script>
  <script type="module" src="/js/adoption.js"></script>
  <script src="/js/footer.js"></script>
  <script type="module" src="/js/login.js"></script>
</body>
</html>